h2{
    color: midnightblue;
    font-family: 'Kinnari';
    text-decoration: double underline red;
    font-weight: 500;
    text-align: center;
}
.navbar .logo a{
    color: red;
    text-decoration: none;
}
.navbar .all-links{
    display: flex;
    position: relative;
}
.navbar .all-links li{
    list-style: none;
    margin: 0 10px;
}
.navbar .all-links a{
    font-weight: 300;
    font-size: 20px;
    color: blue;
    padding: 9px 0;
    text-decoration: none;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: lightblue;
}
.navbar .all-links a:hover{
    color: tomato;
    text-decoration: underline;

}
.home{
    width: 100%;
    height: 100vh;
    background-image: url("Resources/Oranges.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Serif;
}
.home .home-content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .text-one{
    font-size: 24px;
    color: midnightblue;
}
.home .text-two{
    font-size: 64px;
    color: midnightblue;
    font-weight: 600;
    margin-left: -3px;
}
.home .text-three{
    font-size: 39px;
    margin: 5px 0;
    color: blue;
}
.home .text-four{
    font-size: 23px;
    margin: 5px 0;
    color: red;
}
.home .button{
    margin: 14px 0;
}
.home .button button{
    padding: 8px 16px;
    outline: none;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background-color: aqua;
    cursor: pointer;
    border: 2px solid transparent;
}.home .button button:hover{
     border-color: dimgrey;
    background-color: black;
    color: aqua;
 }
 .about{
     width: 100%;
    height: 100vh;
    background-image: url("aesthe.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Serif;
 }
 .about .about-content{
     width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .about .text1{
     font-size: 32px;
     color: slateblue;
     font-weight: 600;
     text-align: center;
 }
 .about .text2{
     font-size: 16px;
     color: black;
     text-align: center;
 }
 .about .button{
     margin: 16px 0;
     text-align: center;
 }
 .about .button button{
     padding: 19px 16px;
    outline: none;
    border-radius: 9px;
    font-size: 25px;
    font-weight: 400;
    background-color: orange;
    cursor: pointer;
    border: 2px solid transparent;
 }
 .about .button button:hover{
     background-color: black;
     color: orange;
     border-color: tomato;
 }
